<!-- Home div separated into two sections -->
<div class="home">

        <!-- Side bar to filter list of products -->
        <div class="home__sidebar">


       
          <!-- End of Side bar to filter list of products -->
        </div>

    <!-- Mian Menu for list of products -->
    <div class="home__mainbar">


        <!-- Product Card -->
        <div class="home__mainbar">
          <div class="cards">
          <!-- Product Card -->
          <div class="card" *ngFor="let product of products">

            <div class="view zoom overlay">
              <img class="img-fluid w-100" src={{product.image}} alt="Sample">
              <a href="#!">
                <div class="mask">
                  <img class="img-fluid w-100"
                    src={{product.image}}>
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>
  
            <!-- Product Card Body-->
            <div class="card-body text-center">
  
                <h5>{{product.name}}</h5>
                <p class="small text-muted text-uppercase mb-2">{{product.category}}</p>
            
                <hr>
                <h6 class="mb-3">
                  <span class="text-danger mr-1">R{{product.price}}</span>
                  <span class="text-grey"><s>R{{product.price}}</s></span>
                </h6>
  
                <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                  <i class="fas fa-shopping-cart pr-2"></i>Add to cart
                </button>
                <button type="button" class="btn btn-info btn-sm mr-1 mb-2">
                  <i class="fas fa-info-circle pr-2"></i>More Details
                </button>
  
             <!-- End Product Card Body-->
            </div>
  
          <!-- End of Product Card -->
          </div>

          </div>

      </div>


    <!-- End of Mian Menu for list of products -->
    </div>


<!--End of Home div separated into two sections -->
</div>









